:root {
  --font-size: 2rem;
  --line-height: 1.6;
  --space: calc(var(--font-size) * var(--line-height) / 3);

  --font-sans: system-ui, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-mono: Consolas, "Lucida Console", Menlo, Monaco, Cousine, "Courier New", Courier, monospace;
}

html {
  font-family: var(--font-sans);
  font-size: 62.5%;
  line-height: 1.2;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  overflow: hidden;
  font-size: var(--font-size);
  background-color: hsl(170, 100%, 15%);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div {
  /* border: 2px solid red; */
}

.calculator {
  padding: calc(var(--space) * 2);
  display: flex;
  gap: var(--space);
  flex-direction: column;
  min-height: 75%;
  aspect-ratio: 2/3;
  border-radius: calc(var(--space) * 2);
  font-size: 5vh;
  background-color: hsl(200, 20%, 12%);

  color: hsl(0, 0%, 92%);
  text-align: center;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--space);
  flex-basis: 30%;
  margin: var(--space);
  padding: var(--space) calc(var(--space) * 2);
  border-radius: var(--space);
  font-family: var(--font-mono);
  color: hsl(0, 0%, 8%);
  background-color: hsl(176, 60%, 80%);
}

.screen .upper {
  /* font-size: 2.5vh; */
  font-size: 0.6em;
  opacity: 0.7;

}

.screen .lower {
  /* font-size: 5vh; */
  font-size: 1.2em;
}

.keys {
  display: flex;
  gap: calc(var(--space) * 1.5);
  flex: 1;
  user-select: none;
}

.keys .row {
  display: flex;
  justify-content: space-around;
  gap: var(--space);
  flex: 1;
}

.numbers, .operators {
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

.numbers {
  flex-basis: 75%;
}

.operators {
  flex: 1;
}

.key {
  flex: 1;
  border-bottom: .5rem solid hsl(200, 20%, 10%);
  border-radius: var(--space);
  background-color: hsl(200, 20%, 18%);
  cursor: pointer;
  transition: all ease 75ms;
}

.key:hover {
  border-bottom-color: hsl(200, 20%, 60%);
}

.key:active {
  transform: translateY(.33rem);
}

.operators .key {
  border-radius: calc(var(--space) * 2.5);
  background-color: hsl(200, 30%, 24%);
}
